body {
    background-color: #739cca;
    margin: 0;
    padding: 0;
}

h1 {
    color: #1e2c3c;
    font-family: 'Georgia', serif;
    margin-top: 50px;
}

p {
    color: #1e2c3c;
    font-family: 'Arial', sans-serif;
    margin-top: 20px;
}