body {
    background-color: #739cca;
    margin: 20px;
    justify-content: flex-start;
    /* padding: 20px */
}

h1 {
    color: #1e2c3c;
    font-family: 'Georgia', serif;
    margin-top: 20px;
    justify-content: flex-start;
}

p {
    color: #1e2c3c;
    font-family: 'Georgia', serif;
    font-size: larger;
    margin-top: 20px;
    justify-content: flex-start;
}

ul {
    color: #1e2c3c;
    font-family: 'Georgia', serif;
    font-size: medium;
    margin-top: 20px;
    justify-content: flex-start;
}

footer {
    background-color: #9cb8d9;
    color: #739cca;
    font-family: 'Georgia', serif;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 0px;
}

a:link {
    color: #4482bb;
    text-decoration: none;
}

a:visited {
    color: #17202a;
    text-decoration: none;
}